{% extends "NetaPicApps/base.html" %}
    {% block head %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'NetaPicApps/index.css' %}">
    {% endblock head %}
    {% block content %}
    index template
    <form action="{% url 'NetaPicApps:images_dir' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="files">
        <input type="text" name="tags">
        <input type="submit" name="submit">
    </form>
    {% endblock content %}