{% extends "NetaPicApps/base.html" %}
{% block head %}
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'NetaPicApps/test.css' %}">
{% endblock head %}
{% block content %}
<section id="search">
    <form action="" method="GET">
        {% csrf_token %}
        <input type="text" name="tags">
        <input type="submit" name="submit" value="検索">
    </form>
</section>
<section id="images">
    {% for i in images %}
    <div class="content">
        <img src="../{{ i.image.url }}" class="image">
        <div class="imageProperty">{{ i.image.name|slice:"7:-4" }}</div>
        tags:{{ i.tags }}
    </div>
    {% endfor %}
</section>
{% endblock content %}