{% extends "NetaPicApps/base.html" %}
{% block head %}
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'NetaPicApps/test.css' %}">
{% endblock head %}
{% block content %}
<section id="search">
    <h1 id="title"><a href="../">NetaPic</a></h1>
    <form action="" method="GET">
        {% csrf_token %}
        <input type="text" name="tags" value="{{ SearchQuery }}">
        <input type="submit" name="submit" value="検索">
    </form>
</section>
<section id="images">
    {% for i in images %}
    <div class="content">
        <img src="../{{ i.image.url }}" class="image">
        <div class="imageProperty">{{ i.image.name|slice:"7:-4" }}</div>
        <a href="./?tags={{ i.tags }}"><i class="fas fa-tags"></i>  {{ i.tags }}
    </div>
    {% endfor %}
</section>
<link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
{% endblock content %}