{% extends "NetaPicApps/base.html" %}
    {% block head %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'NetaPicApps/upload.css' %}">
    {% endblock head %}
    {% block content %}
        <form action="{% url 'NetaPicApps:images_dir' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <label for="file" class="file">
                <input type="file" name="files" id="file">
                <div class="imgPic">画像のアップロード</div>
            </label>
            <input type="text" name="tags" placeholder="タグ">
            <input type="submit" name="submit">
        </form>

        <script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
        <script type="text/javascript" src="{% static 'NetaPicApps/upload.js' %}"></script>
    {% endblock content %}